{% block style %}
<style>
    #heidelpayForm iframe {
        border: none;
        height: 16rem;
        width: 100%;
    }
</style>
{% endblock %}

<div id="heidelpayForm" class="container-fluid">
    {% block content %}
    {% endblock %}
</div>

{% block scripts %}
    <script>
        let form = document.getElementById('heidelpay-payment-form');
        let triggerButton = document.getElementById('heidelpaySubmitBtn');
        let cancelButton = document.getElementById('heidelpayCancelBtn');

        triggerButton.onclick = function () {
            let isFormValid = form.reportValidity();
            if (isFormValid) {
                triggerButton.disabled = true;
                cancelButton.disabled = true;
                form.submit();
            }
        }
    </script>
{% endblock %}