{% block style %}
<style>
    #heidelpayForm iframe {
        border: none;
        height: 16rem;
        width: 100%;
    }
</style>
{% endblock %}

<div id="heidelpayForm" class="container-fluid">
    {% block content %}
    {% endblock %}
</div>

{% block scripts %}
{% endblock %}