{% extends "Heidelpay::base" %}

{% block content %}
    <form id="paymentFrameForm" action="{{ submit_action }}" method="post">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div id="accountHolderContainer" data-validate="text" class="input-unit">
                    <label for="accountHolder">{{ trans('Heidelpay::template.accountHolder') }}</label>
                    <input tabindex="1" id="accountHolder" name="ACCOUNT.HOLDER" minlength="4" maxlength="60" autocomplete="off" type="text" required>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div id="accountIbanContainer" data-validate="text" class="input-unit">
                    <label for="accountIban">{{ trans('Heidelpay::template.accountIban') }}</label>
                    <input tabindex="2" id="accountIban" name="ACCOUNT.IBAN" minlength="3" maxlength="64" autocomplete="off" type="text" required>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        {% include "Heidelpay::partials/cancelSubmitButtons" %}
    </form>
{% endblock %}