{% extends "Heidelpay::base" %}

{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <iframe src="{{ submit_action }}" id="heidelpayIFrame"></iframe>
        </div>
        <div class="col-md-3"></div>
    </div>
    {% include "Heidelpay::partials/cancelSubmitButtons" %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var paymentIFrame = document.getElementById('heidelpayIFrame');
        var submitButton = document.getElementById('heidelpaySubmitBtn');
        var cancelButton = document.getElementById('heidelpayCancelBtn');
        var targetOrigin = getIFrameDomain(paymentIFrame);

        if (window.addEventListener) {
            window.addEventListener('message', receiveResponse);
            submitButton.addEventListener('click', submitIFrame);
        } else if (window.attachEvent) {
            window.attachEvent('onmessage', receiveResponse);
            submitButton.attachEvent('onclick', submitIFrame);
        }

        function getIFrameDomain(elem) {
            var url = elem.src.split("/");
            return url[0] + "//" + url[2];
        }

        function receiveResponse(event) {
            if (event.origin !== targetOrigin) {
                return;
            }

            var responseContent = JSON.parse(event.data);
            if (responseContent["POST.VALIDATION"] === "NOK") {
                submitButton.disabled = false;
                cancelButton.disabled = false;
            }
        }

        function submitIFrame() {
            submitButton.disabled = true;
            cancelButton.disabled = true;
            paymentIFrame.contentWindow.postMessage("{}", targetOrigin);
        }
    </script>
{% endblock %}