<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <button class="btn btn-secondary btn-block" id="heidelpayCancelBtn" role="button" onclick="document.location.href='/checkout'">
            {{ trans('Heidelpay::template.cancel') }}
        </button>
    </div>
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary btn-block" id="heidelpaySubmitBtn">
            {{ trans('Heidelpay::template.payNow') }}
        </button>
    </div>
    <div class="col-md-3"></div>
</div>
